<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:layout name="main" />
    <f:section name="headline">
        <h1>Saml Auth Metadata</h1>
    </f:section>
    <f:section name="content">
        <f:form name="samlSelect">
            <f:form.select name="samlUid"
                           options="{samlSettings}"
                           optionValueField="uid"
                           optionLabelField="name"
                           prependOptionLabel="Please Select"
            />
            <f:form.submit name="Senden" value="Senden" />
        </f:form>
        <f:if condition="{SamlMetaData}">
            <pre><f:format.raw>{SamlMetaData}</f:format.raw></pre>
        </f:if>
    </f:section>
</html>